@using Shop.Application.Extensions;
@model List<Shop.Domain.Entities.Admin.Setting.Footer.FooterLink>

@{
    ViewData["Title"] = "Links";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles
    {
    <style>
        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                border: 1px solid #ddd;
            }

                .pagination a.active {
                    background-color: #2a3042;
                    color: white;
                    border: 1px solid #2a3042;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }

                .pagination a:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .pagination a:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
    </style>
}

@if (Model.Any())
{
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data list</h4>

                    <br />

                    <div class="table-responsive">
                        <table class="table mb-0">

                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th>Label</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.CreateDate.ToDateTimeString()</td>

                                        <td>@item.FooterLabel.Title</td>

                                        <td class="text-center">

                                            <div class="dropdown custom-dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1" style="will-change: transform;">

                                                    <a class="dropdown-item" asp-action="EditLink" asp-controller="Setting" asp-route-linkId="@item.Id">Edit</a>
                                                    <button type="button" class="dropdown-item" onclick="DeleteLink('@item.Id')">Remove</button>

                                                </div>
                                            </div>

                                        </td>
                                    </tr>

                                }

                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="pagination">
        <a href="#">&laquo;</a>
        @for (int i = 1; i <= (ViewBag.PageCount + 1); i++)
        {
            <a class="@(((int)ViewBag.PageID==i)?"active":"")" asp-action="LinkList" asp-controller="Setting" asp-route-linkId="@i">@i</a>
        }
        <a href="#">&raquo;</a>
    </div>

}

else
{
    <div class="text-center">
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">NO Data!</h4>
            <p>Unfortunately, no information is available yet, if other information is available this alert will not be displayed.</p>
        </div>
    </div>
}

@section Scripts
    {
    <script>

        function DeleteLink(linkId) {
            swal({
                text: "If deleted, you will no longer have access and it will be deleted completely.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/RemoveLink",
                            type: "get",
                            data: {
                                linkId: linkId
                            },
                            success: function (response) {
                                if (response.status === "Success") {
                                    swal("The item was successfully deleted", {
                                        icon: "success",
                                    }).then(function () {
                                        window.location.reload();
                                    });
                                } else {
                                    swal("Error", "Some thing went wrong please try again ...", "error");
                                }
                            },
                        });
                    }
                });


        }

    </script>
}

